asyncpg==0.25.0
babel==2.10.1
fastapi==0.78.0
inflect==5.6.0
orjson==3.7.2
python-dateutil==2.8.2
simplejson==3.17.2
SQLAlchemy==1.4.36
sqlalchemy-utils==0.38.2
typing_extensions==4.2.0
uvicorn==0.17.6