asyncpg==0.25.0
aws-lambda-powertools==1.26.0
aws-xray-sdk==2.9.0
awslambdaric==2.0.4
babel==2.10.1
boto3==1.23.10
botocore==1.26.10
fastjsonschema==2.15.3
future==0.18.2
GeoAlchemy2==0.11.1
greenlet==1.1.2
inflect==5.6.0
jmespath==1.0.0
phonenumbers==8.12.49
psycopg2-binary==2.9.3
python-dateutil==2.8.2
s3transfer==0.5.2
simplejson==3.17.2
six==1.16.0
shapely==1.8.2
SQLAlchemy==1.4.36
sqlalchemy-utils==0.38.2
typing_extensions==4.2.0
urllib3==1.26.9
wrapt==1.14.1
